#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#drum-machine{
  display: flex;
  background-color: #d52727;
  align-items: center;
  padding: 3rem;
}

.drum-keyboard{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem 1rem;
}

.drum-controller{
  margin-left: 5rem;
}
